.bodyPropio {
    background-color: #f8f9fa;
}

.estiloComentario {
    font-size: 23px;
    text-align: center;
}

.estiloNombre {
    font-size: 18px;
    text-align: center;
}

.contenedorComentarios {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
}

.cajaComentarios {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    padding: 1.5rem;
    width: 70vh;
    background-color: #e9ecef;
    border: 2px black solid;
    border-radius: 2px;
    margin: 3rem 0;
}

.cartaProducto {
    background-color: #e9ecef;
}

.contenedorBotones {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
}

.bannerPromocion {
    background-color: #e9ecef;
    font-size: 16px;
    color: black;
    text-align: center;
    margin-bottom: 0;
}

.tituloTop {
    margin: 1rem 0;
}