.bodyPropio {
    background-color: #ffe5ec
}

.portadaPropia {
    background-color: #ffc2d1
}

.estiloComentario {
    font-size: 23px;
    text-align: center;
}

.estiloNombre {
    font-size: 18px;
    text-align: center;
}